/* #id1{
    display:flex;
    background-color:wheat;
    padding:10px 10px 100px 100px;
    font-size: 30px;
    font-weight: bold;
    

}
#id2{
    background-color:rgb(0, 0, 0);
    padding:10px 10px 100px 100px;
}
.board{
    display: grid;
    grid-template-columns: repeat(8,80px);
    grid-template-rows: repeat(8,80px);
    justify-content:center;
    align-items: center;
}
.class1{
    background-color:wheat;
    padding:10px 10px 100px 100px;
    color:green;
    height:30rem;
    width:10rem;
    display:flex;
    font-size: 30px;
    font-style: bold;
}
body{
    height:100%;
    width:100%;
    margin:0px;
}
 */
 #id1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    width: 50px;
    height: 50px;
    color:green;
  background-color:wheat;
  }
  #id2{
     background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    width: 50px;
    height: 50px;
  color:white;
  
  }
  .board{
     display: grid;
     grid-template-columns: repeat(8,50px);
     grid-template-rows: repeat(8,50px);
     gap:0;
  }
  body{
    display: flex;
    justify-content: center;
    align-items: center;
  
    width:100%;
    background-color: #f0f0f0;
  }